/*Proyecto Web
RAÚL ALEXANDRU CALIN*/

/*Logo*/
.logo-pagina{
margin-left: auto;
margin-right: auto;
}
header{
  position: fixed;
    width: 100%;
}
/*Tipografía*/
.fuente1{
font-family: 'Nerko One', cursive;
}
body {
  background: rgb(34,193,195);
  background: linear-gradient(135deg, rgb(24, 173, 175) 23%, rgb(153, 152, 127) 100%);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 1400px;
  }

  /*Menú*/
  .navbar {
    overflow: hidden;
}
  .navbar {
    overflow: hidden;
    background-color: lightblue; 
  }
  .navbar a {
    float: left;
    font-size: 16px;
    color: darkblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .subnav {
    float: left;
    overflow: hidden;
  }
  
  .subnav .subnavbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: darkblue;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: lightblue;
  }
  
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: lightblue;
    width: 100%;
    z-index: 1;
  }
  
  .subnav-content a {
    float: left;
    color: #333;
    text-decoration: none;
  }
  
  .subnav-content a:hover {
    background-color: white;
    color: black;
  }
  
  .subnav:hover .subnav-content {
    display: block;
  }
.color1{
  color: black;
}
.Sobremesa, .Portatiles{
padding-right: 5px;
}
.color-azul{
  color: blue;
}
.tienda{
  width: 30%;
  align-content: center;
}
/*CSS GRID*/
.displaygrid{
  display: grid;
  width: 80%;
  grid-template-columns: auto auto auto auto;
  margin:auto;
  row-gap: 50px;
}
.displaygrid img{
  width: auto;
  height: 200px;
}
.displaygrid2{
  display: grid;
  width: 80%;
  grid-template-columns: auto auto;
  margin-left: 300px;
}
.displaygrid2 img{
  border: 1px solid black;
  border-radius: 5px;
}

/*Tabla*/
table{
  width: 30%;
  margin-left: 35%;
  margin-top: 5%;
  border: 10px solid black
}
.calendario{
  background-color: black;
  color: blue;
}
.linea1{
  text-align: center;
  background-color: blue;
}
.linea2{
  text-align: center;
}
.linea3{
  text-align: center;
}
.linea4{
  text-align: center;
}
.linea5{
  text-align: center;
}
.linea6{
  text-align: center;
}
th{
  background-color: lightblue;
}
.vacio{
  background-color: white;
}
.festivo{
  background-color: red;
}

/*Footer*/

footer{
  background: lightblue;
    color: rgb(51, 51, 51);
    width: 100%;
    bottom: 0px;
    position: fixed;
  text-align: center;
}

